<html>
	<head> 
	<title>IOTOPUS CONTROLLER</title>	
	<meta name="viewport" content="width=device-width initial-scale=1">
	</head> 
	<body>
		
		<h1>LED Control</h1>
		<hr>

		<div style="padding-left:20px;">
			<h3>LED 1-4</h3>
				<p >
					<b>LED1: </b>{% if iot_states['LED1']==1 %} <b style="color:green;">◉ 켜짐</b> 
							{% elif iot_states['LED1']==0 %} <b style="color:red;">◎ 꺼짐</b>
							{% endif %}
					<a href="{{ url_for('iot_switch', SID='LED1', state=1) }}"><input type="button" value="켜기" ></a>
					<a href="{{ url_for('iot_switch', SID='LED1', state=0) }}"> <input type="button" value="끄기"> </a>
				</p>
				<p >
					<b>LED2: </b>{% if iot_states['LED2']==1 %} <b style="color:green;">◉ 켜짐</b> 
							{% elif iot_states['LED2']==0 %} <b style="color:red;">◎ 꺼짐</b>
							{% endif %}	
					<a href="{{ url_for('iot_switch', SID='LED2', state=1) }}"><input type="button" value="켜기" ></a>
					<a href="{{ url_for('iot_switch', SID='LED2', state=0) }}"> <input type="button" value="끄기"> </a>
				</p>
				<p >
					<b>LED3: </b>{% if iot_states['LED3']==1 %} <b style="color:green;">◉ 켜짐</b> 
							{% elif iot_states['LED3']==0 %} <b style="color:red;">◎ 꺼짐</b>
							{% endif %}	
					<a href="{{ url_for('iot_switch', SID='LED3', state=1) }}"><input type="button" value="켜기" ></a>
					<a href="{{ url_for('iot_switch', SID='LED3', state=0) }}"> <input type="button" value="끄기"> </a>
				</p>
				<p >
					<b>LED4: </b>{% if iot_states['LED4']==1 %} <b style="color:green;">◉ 켜짐</b> 
							{% elif iot_states['LED4']==0 %} <b style="color:red;">◎ 꺼짐</b>
							{% endif %}	
					<a href="{{ url_for('iot_switch', SID='LED4', state=1) }}"><input type="button" value="켜기" ></a>
					<a href="{{ url_for('iot_switch', SID='LED4', state=0) }}"> <input type="button" value="끄기"> </a>
				</p>
			<h3>전체 led 동시에 켜고 끄기</h3>
				<p> 
					<a href="{{ url_for('all_on_off', state=1) }}"> <input type="button" value="켜기"> </a> 
					<a href="{{ url_for('all_on_off', state=0) }}"> <input type="button" value="끄기"> </a> 
				</p>
		</div>
		<h1>SERVO Control</h1>
		<hr>
		<div style="padding-left:20px;">
			<h3>전등 스위치 제어</h3>
			<p >
				<b>SRV1: </b>{% if iot_states['SRV1']==1 %} <b style="color:green;">◉ 켜짐</b> 
							{% elif iot_states['SRV1']==0 %} <b style="color:red;">◎ 꺼짐</b>
							{% endif %}	
				<a href="{{ url_for('iot_switch', SID='SRV1', state=1) }}"><input type="button" value="켜기" ></a>
				<a href="{{ url_for('iot_switch', SID='SRV1', state=0) }}"> <input type="button" value="끄기"> </a>
			</p>
		</div>
	</body>
</html>